header {
    background-color: rgba (255 ,144 , 14 , 0.10);
    padding: 50px 240px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin: 30px;
    font-size: 1rem ;
    font-weight: 500;

}
nav a {
    text-decoration: none;
    color: #424242;
    text-transform: capitalize;
}
.nav-title {
    text-transform: capitalize;
    font-size: 2.1rem;
    font-weight: 700;
    color: #131313;
}
/*banner */
.banner-content {
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
}.banner-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
.banner-description {
     color: #131313;
     font-size: 1rem;
     color: darkgrey;
}
.btn-primary {
    text-align: center;
    font-size: 20px;
    background-color: #ff900e;
    padding: 20px 25px;
    border-radius: 9px;
    cursor: pointer;
    border: 0;
}
.banner img {
    width: 100%;
    margin-top: 20px;

}

 /* header end */
 main {
    max-width: 80%;
    margin:0 auto;
 }
  .teams-container {

       display: flex;
       justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;

        }
     .teams-img-container , .teams-content{
        width: 50%;
     }  
     .teams-img-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px
     }
     .teams-img-container img {
        width: 100%;
        height: auto;
     }
     .teams-content {
        padding-right: 70px;
       
     }

     .teams-title  ,.Quick{
        font-size: 2.8rem;
        text-transform: capitalize;
        font-weight: 500;
     }
   
     .teams-title .our {
        font-weight: 800;
     }
     .teams-title .features {
        color: #ff900e;
        font-weight: bold
     }
    


 /*-----features ---*/
 .Features {
    display: flex;
    justify-content: space-between;
    
    margin-top: 50px;
    margin-bottom: 70px;
 }

 .Featuresbox ,.Features-img-box {
    width: 50%
 }
 .featuresimg img {
    width:90%;
    border-radius: 10px;
 }
 .featurestext {
    width: 400px;
    height: 120px;
   margin-top: 10px;
   border-radius: 10px;
    padding: 7px;
    box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: antiquewhite;
 }

                          /*
                         text */

.featurestext .featurefirst1{
    font-size: 20px;
    
    margin-left: 18px;
    margin-top: 20px;
    text-transform: capitalize;
}
.featurestext .featurefirst{
    font-size: 14px;
    margin-top: 20px;
    margin-left: 18px;
    text-transform: capitalize;
}
.featurestext .fea-p-text  {
    font-size: 13px;
    margin-left: 18px;
    color: #424242;
    text-transform: capitalize;
}

 /*-----features ---*/


.Some-Facts  {
    padding-right: 70px;
    padding-left: 70px;
}
.title-Some-facts {
    font-size: 35px;
}
.faccts-decri {
    color: #131313;
    font-size: 1rem;
    color: darkgrey;
}


.cardbox {
    display: flex;
    justify-content: space-around;
    margin:  50px;
}
.cardbox  .card {
    border: 1px solid #ff900e;
    border-radius: 8px;
    text-align: center;
    padding: 30px  ;
    width: 140px;
    height: 140px;
    margin-left: 20px;
   
}

.card-statd {
    font-size: 2rem;
    margin-top: 0;

}
.card-title {
    font-weight: 600;
    color: #424242;
    font-size: 1.15rem;
    margin-top: -10;
}
.our-sport {
    text-align: center;
    align-items: center;
}
.our-decri {
    font-size: 20px;
}
.our-title {
    font-size: 35px;
    text-transform: capitalize;
    color: #424242;
}
.sponsors {
    display: flex;
    justify-content: space-around;
}

.sponsors  .imgsponsors {
    width: 140px;
    height: 140px;
    border: 1px solid aliceblue;
    margin-top:10px;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    outline:aliceblue ;
    box-shadow: 13px 14px 20px aliceblue;
    border-radius: 19px;
    margin-top: 20px;

}

.imgsponsors  img {
    width: 70%;
    margin-top: 60px;
}



footer {
    max-width: 70%;
    max-height: 90px;
    margin: 0 auto;
    background-color: bisque;
    margin-top:50px ;
    margin-bottom: 60px;
    text-align: center;
    align-items: center;
    padding: 20px;
}
.footertext p {
   font-size: 20px;
   padding-top: 20px;
   text-transform: capitalize;
}
.footertext h6 {
    font-size: 15px;
    margin-top: -15px;
    margin-bottom: 30px;
}



@media screen and (max-width:576px){
    header {
        padding: 20px;
    }

    nav ,
    .Features ,
    .cardbox ,
    .sponsors
    {
        flex-direction: column;
    }
    .teams-container {
        flex-direction: column-reverse;
    }
    .teams-container {
        padding: 20px;
    }
    .teams-img-coninetar {
        width: 100%;
        padding: 20px;
    }
    .teams-img-coninetar img {
        width: 100%;
        height: auto;
        margin-top: 20px;
        
     
    }

    .Featuresbox ,.Features-img-box {
        width: 90%;
        padding: 20px;
    }
    .featurestext {
        width: auto;
    }
     .Some-Facts   {
        padding: 20px;
        margin-top: 10px;
    }
    .cardbox {
        margin: 20px;
        gap: 10px;
    }
      .card{
        margin-left: 10px;
        margin-top: 20px;
        padding: 20px;
    }
   
    
    .card {
        margin-top: 20px;
        margin: 0 auto;
        gap: 20px;
    }
    .our-sport {
        padding: 20px;
    }
    .imgsponsors {
        margin-left: 70px;
    }
    .footertext {
        width: 100%;
        height: auto;
    }
    .btn-primary {
        width: 110px;
        height:40px ;
        font-size: 10px;
        text-transform: capitalize;
        padding: 10px;
        background-color: #ff900e;
        border-radius: 9px;
        cursor: pointer;
        border: 0;
    }
}